.img {
    border-radius: 20px;
    width: 450px;
    height: 300px;
}

.body{
    display: flex;
    margin: 40px 0px;
}

.img-container{
    /* background-image: url("src/components/assets/bloomFlipCapture.PNG"); */
    background-repeat: no-repeat;
    background-size: 440px 300px;
    height: 300px;
    width: 90%;
    margin: 0px 30px;
    border-radius: 20px;
}