@keyframes slideInLeft {
    from {transform:translateX(-100vw);}
    90%{transform:translateX(5px);}
    to {transform:translateX(0px);}
}

@keyframes slideInRight {
    from {transform:translateX(100vw);}
    90%{transform:translateX(-5px);}
    to {transform:translateX(0px);}
}

.imgR{
    border-radius: 20px;
    width: 450px;
    height: 300px;
    animation: slideInLeft 1s ease-out .7s both;
}

.imgL{
    border-radius: 20px;
    width: 450px;
    height: 300px;
    animation: slideInRight 1s ease-out .7s both;
}

.body{
    display: flex;
    margin: 40px 0px;
}

.img-container{
    /* background-image: url("src/components/assets/bloomFlipCapture.PNG"); */
    background-repeat: no-repeat;
    background-size: 440px 300px;
    height: 300px;
    width: 90%;
    margin: 0px 30px;
    border-radius: 20px;
}