.project-card-container{
    display: grid;
    grid-template-columns: 2;
    gap: 45px;
    grid-template-rows: minmax(100px, auto);
    align-items: center;
    justify-content: center;
}

.header{
    color: var(--font-default);
    font-size: 60px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container{
    width: 50%;
    border-bottom: 1px solid var(--font-default);
}

.projects-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container{
    width: 50%;
    margin-bottom: 75px;
}

.card-one{
    grid-column: 1;
    grid-row: 1;
}

.card-two{
    grid-column: 2;
    grid-row: 1;
}

.card-three{
    grid-column: 1;
    grid-row: 2;
}

.card-four{
    width: 100%;
    height: 300px;
}