@keyframes slideInLeft {
    from {transform:translateX(-600px);}
    90%{transform:translateX(5px);}
    to {transform:translateX(0px);}
}

.welcome-container {
    color: var(--font-default);
    width: 100%;
    min-height: 100%;
}

.welcome-text{
    font-size: 100px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    padding-bottom: 5px;
    color: var(--font-default);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: slideInLeft 3s ease-out;
}

.welcome-card{
    margin-top: 200px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text{
    margin-top: -20px;
    padding-right: 5px;
    color: var(--font-default);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: slideInLeft 3s ease-out  both .3s;
}

.info-card{
    display: flex;
    flex-direction: row;
    color: gray;
}

.border-info{
    border-right: 3px solid mediumorchid;
    border-radius: 1px;
    margin-right: 5px;
}

.project-button{
    border: 1px solid mediumorchid;
    border-radius: 5px;
    padding: 10px 65px;
    height: 45px;
    background-color: var(--background-color);
    color: var(--font-default);
    
    transition: 1s;
}

.linkedin-button{
    border: 1px solid blue;
    margin-left: 20px;
    border-radius: 5px;
    width: 300px;
    height: 45px;   
    padding: 10px 65px;
    background-color: var(--background-color);
    color: var(--font-default);

    transition: 1s;

}

.linkedin-button:hover{
    background-color: blue;
    box-shadow: 0 0 10px 5px blue;
}

.project-button:hover{
    background-color: mediumorchid;
    box-shadow: 0 0 10px 5px mediumorchid;
}

.linkedin-icon{
    margin-right: 5px;
    margin-bottom: -2px;
}
